# Exclude everything
*

# ReScript target: include ReScript source files and compiled js
!src/*.res
!src/*.resi
!src/*.mjs
# Include ReScript configuration
!rescript.json

# TypeScript target: include build result from esbuild
!dist/*
